extends layout

block content

  form(action="/",method="post").form-horizontal#new-text-block

    fieldset
      legend Create new TextBlock
    .control-group
      label.control-label Name
      .controls
        input(name="name", type="text")
        small  (Optional)
    
    .control-group
      label.control-label Content
      .controls
        textarea(name="text")

    .form-actions
      button(type="submit").btn.btn-success Save!

    