doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/boostrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  body
    block content